.tma-reports {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif !important;
}
.tma-reports table,
.tma-reports .right-block table {
  border-collapse: collapse;
  width: 100%;
}
.tma-reports table td,
.tma-reports .right-block table th,
.tma-reports .right-block table td,
.tma-reports .right-block table th {
  border: 1px solid #0e9b68;
  padding: 8px;
}
.tma-reports table th,
.tma-reports .right-block table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0c76ab;
  color: white;
}
.tma-reports .tma-item {
  height: 60px;
}
.tma-reports .tma-item .tma-value {
  font-size: 48px;
}
.tma-reports .tma-item .tma-label {
  font-size: 18px;
}
.tma-reports .left-block {
  width: 25%;
  float: left;
  padding-top: 20px;
}
.tma-reports .right-block {
  width: 75%;
  float: left;
}
#tmaSearch {
  width: 25%;
  font-size: 16px;
  padding: 5px 10px;
  border: 1px solid #0e9b68;
  margin-bottom: 12px;
}
