{#
/**
 * @file
 * Default theme implementation for rendering data Items on Dashboard.
 *
 * This template is used only when the users navigate to view the Dashboard.
 *
 * Available variables:
 * - content: % of Content Modified.
 * - config: % of Config Modified.
 * - flush: Number of flushes.
 *   - users: List of users who performed modifications.
 *     - name: Identified Name of the person who modified Data.
 *     - team: The team to whcich the above user belongs to.
 *     - user: The system Identified username.
 *     - date: The date on which the user logged in.
 *
 * @ingroup themeable
 */
 #}
{{ attach_library('trackmyadmin/tma-reports') }}

<div class="tma-reports">
    <br>
    <div class="left-block">
        <div class="tma-item">
            <span class="tma-value"><a href={{ data.base_path ~ '/admin/reports/trackmyadmin/content' }}>{{ data.content }}%</a></span>&nbsp;&nbsp;
            <span class="tma-label">Content Updates</span>
        </div>
        <div class="tma-item">
            <span class="tma-value"><a href={{ data.base_path ~ '/admin/reports/trackmyadmin/config' }}>{{ data.config }}%</a></span>&nbsp;&nbsp;
            <span class="tma-label">Config Updates</span>
        </div>
        {% if data.flush %}
          <div class="tma-item">
            <span class="tma-value"><a href={{ data.base_path ~ '/admin/reports/trackmyadmin/flush' }}>{{ data.flush }}</a></span>&nbsp;&nbsp;
            <span class="tma-label">Data Flushes</span>
          </div>
        {% endif %}
    </div>
    <div class="right-block">
    {% if data.users %}
        <h2>Modifications were made by the following People:</h2>
        <table>
            <input type="text" id="tmaSearch" placeholder="Search">
            <thead><tr><th>User Identified as</th><th>From Team</th><th>Logged in as</th><th>Logged in on</th></tr></thead>
            <tbody>
            {% for item in data.users %}
                <tr><td><a href={{ data.base_path ~ '/admin/reports/trackmyadmin/name/' ~ item.name }}>{{ item.name }}</a></td>
                <td><a href={{ data.base_path ~ '/admin/reports/trackmyadmin/team/' ~ item.team }}>{{ item.team }}</a></td>
                <td><a href={{ data.base_path ~ '/admin/reports/trackmyadmin/user/' ~ item.user }}>{{ item.user }}</a></td>
                <td>{{ item.date }}</td></tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h2>No Modifications were made</h2>
    {% endif %}
    </div>
</div>
