{#
/**
 * @file
 * Default theme implementation for rendering data Items of based on Type.
 *
 * This template is used only when the users navigate to Pages with Data items
 * such as Name, Team, User.
 *
 * Available variables:
 * - data: Passed Data.
 *   - current_data: The type of data item, eg: name, team, user.
 *   - data_item: The Current Data Item.
 *   - data: List of data corresponding to the above data item.
 *     - name: Identified Name of the person who modified Data.
 *     - team: Team to which the person belongs to.
 *     - user: The System Identified User.
 *     - date: The Date when User logged in.
 *     - location: The Location from which user logged in.
 *     - ip: The IP Address used by the person while logging in.
 *
 * @ingroup themeable
 */
 #}
{{ attach_library('trackmyadmin/tma-reports') }}

<div class="tma-reports">
    <br>
    {% if data.current_data == 'name' %}
    <h2>People logged in with Name: {{ data.data_item }}</h2>
    {% endif %}
    {% if data.current_data == 'team' %}
    <h2>People logged in from Team: {{ data.data_item }} </h2>
    {% endif %}
    {% if data.current_data == 'user' %}
    <h2>People logged in as User: {{ data.data_item }}</h2>
    {% endif %}
    {% if data.data %}
        <table class="tmaTable">
            <input type="text" id="tmaSearch" placeholder="Search">
            <thead><tr><th>User Identified as</th><th>From Team</th><th>Logged in as</th><th>Logged in on</th><th>From Location</th><th>Using IP</th></tr></thead>
            <tbody>
            {% for item in data.data %}
                <tr><td><a href={{ data.base_path ~ '/admin/reports/trackmyadmin/name/' ~ item.name }}>{{ item.name }}</a></td>
                <td><a href={{ data.base_path ~ '/admin/reports/trackmyadmin/team/' ~ item.team }}>{{ item.team }}</a></td>
                <td><a href={{ data.base_path ~ '/admin/reports/trackmyadmin/user/' ~ item.user }}>{{ item.user }}</a></td>
                <td>{{ item.date }}</td>
                <td>{{ item.location }}</td>
                <td>{{ item.ip }}</td></tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h2>No Data</h2>
    {% endif %}
</div>
