{#
/**
 * @file
 * Default theme implementation for rendering data Items based on Modified
 * Type.
 *
 * This template is used only when the users navigate to view the list of
 * Modified Data by Type.
 *
 * Available variables:
 * - data: Passed Data.
 *   - current_data: The type of data item, eg: config, content, flush.
 *   - data: List of data corresponding to the above data item.
 *     - name: Identified Name of the person who modified Data.
 *     - field: The name of the field modified by user.
 *     - value: The Value updated across the field as above.
 *     - url: The Page URL on which the modification happened.
 *     - date: The date on which the modification happened.
 *
 * @ingroup themeable
 */
 #}
{{ attach_library('trackmyadmin/tma-reports') }}

<div class="tma-reports">
    <br>
    {% if data.current_data %}
    <h2>People who modified: {{ data.current_data }}</h2>
    {% endif %}
    {% if data.data %}
        <table class="tmaTable">
            <input type="text" id="tmaSearch" placeholder="Search">
            <thead><tr><th>User Identified as</th><th>Modified Field Name</th><th>Modified Field Value</th><th>Modified on Page</th><th>Modified on</th></tr></thead>
            <tbody>
            {% for item in data.data %}
                <tr><td><a href={{ data.base_path ~ '/admin/reports/trackmyadmin/name/' ~ item.name }}>{{ item.name }}</a></td>
                <td>{{ item.field }}</td>
                <td>{{ item.value }}</td>
                <td>{{ item.url }}</td>
                <td>{{ item.date }}</td></tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h2>No Data</h2>
    {% endif %}
</div>
